[submodule "software-dev-course-programEnvironment-to-do-list"]
	path = software-dev-course-programEnvironment-to-do-list
	url = https://github.com/Marcandy/software-dev-course-programEnvironment-to-do-list.git
	branch = main
[submodule "software-dev-course-variables-naming-conventions-and-top-to-bottom-code-evaluation"]
	path = software-dev-course-variables-naming-conventions-and-top-to-bottom-code-evaluation
	url = https://github.com/Marcandy/software-dev-course-variables-naming-conventions-and-top-to-bottom-code-evaluation.git
[submodule "software-dev-course-explicit-and-implicit-conversion-in-javascript"]
	path = software-dev-course-explicit-and-implicit-conversion-in-javascript
	url = https://github.com/Marcandy/software-dev-course-explicit-and-implicit-conversion-in-javascript.git
[submodule "practice-readline-sync-Marcandy-nj"]
	path = practice-readline-sync-Marcandy-nj
	url = https://github.com/Marcandy/practice-readline-sync-Marcandy-nj.git
[submodule "practice-character-checker-marcandy-nj"]
	path = practice-character-checker-marcandy-nj
	url = https://github.com/Marcandy/practice-character-checker-marcandy-nj.git
[submodule "software-dev-course-the-string-dot-length-property"]
	path = software-dev-course-the-string-dot-length-property
	url = https://github.com/Marcandy/software-dev-course-the-string-dot-length-property.git
[submodule "software-dev-course-common-string-methods"]
	path = software-dev-course-common-string-methods
	url = https://github.com/Marcandy/software-dev-course-common-string-methods.git
[submodule "software-dev-course-unicode"]
	path = software-dev-course-unicode
	url = https://github.com/Marcandy/software-dev-course-unicode.git
[submodule "software-dev-course-boolean-expressions-and-conditional-statements"]
	path = software-dev-course-boolean-expressions-and-conditional-statements
	url = https://github.com/Marcandy/software-dev-course-boolean-expressions-and-conditional-statements.git
[submodule "software-dev-course-debug-common-errors"]
	path = software-dev-course-debug-common-errors
	url = https://github.com/Marcandy/software-dev-course-debug-common-errors.git
[submodule "practice-creating-arrays-1-marcandy-nj"]
	path = practice-creating-arrays-1-marcandy-nj
	url = https://github.com/Marcandy/practice-creating-arrays-1-marcandy-nj.git
[submodule "practice-creating-arrays-2-marcandy-nj"]
	path = practice-creating-arrays-2-marcandy-nj
	url = https://github.com/Marcandy/practice-creating-arrays-2-marcandy-nj
[submodule "practice-mixed-type-arrays-marcandy-nj"]
	path = practice-mixed-type-arrays-marcandy-nj
	url = https://github.com/Marcandy/practice-mixed-type-arrays-marcandy-nj.git
[submodule "practice-2d-arrays-marcandy-nj"]
	path = practice-2d-arrays-marcandy-nj
	url = https://github.com/Marcandy/practice-2d-arrays-marcandy-nj.git
[submodule "practice-common-array-methods-marcandy-nj"]
	path = practice-common-array-methods-marcandy-nj
	url = https://github.com/Marcandy/practice-common-array-methods-marcandy-nj.git
[submodule "practice-indices-bracket-notation-marcandy-nj"]
	path = practice-indices-bracket-notation-marcandy-nj
	url = https://github.com/Marcandy/practice-indices-bracket-notation-marcandy-nj.git
[submodule "practice-array-iterator-methods-marcandy-nj"]
	path = practice-array-iterator-methods-marcandy-nj
	url = https://github.com/Marcandy/practice-array-iterator-methods-marcandy-nj
[submodule "practice-converting-character-arrays-marcandy-nj"]
	path = practice-converting-character-arrays-marcandy-nj
	url = https://github.com/Marcandy/practice-converting-character-arrays-marcandy-nj.git
[submodule "practice-array-iterator-methods2-marcandy-nj"]
	path = practice-array-iterator-methods2-marcandy-nj
	url = https://github.com/Marcandy/practice-array-iterator-methods2-marcandy-nj
[submodule "final-practiceUnit0-marcandy-nj"]
	path = final-practiceUnit0-marcandy-nj
	url = https://github.com/Marcandy/final-practiceUnit0-marcandy-nj.git
[submodule "practice-password-validator-marcandy-nj"]
	path = practice-password-validator-marcandy-nj
	url = https://github.com/Marcandy/practice-password-validator-marcandy-nj.git
