[submodule "software-dev-course-programEnvironment-to-do-list"]
	path = software-dev-course-programEnvironment-to-do-list
	url = https://github.com/Marcandy/software-dev-course-programEnvironment-to-do-list.git
	branch = main
[submodule "software-dev-course-variables-naming-conventions-and-top-to-bottom-code-evaluation"]
	path = software-dev-course-variables-naming-conventions-and-top-to-bottom-code-evaluation
	url = https://github.com/Marcandy/software-dev-course-variables-naming-conventions-and-top-to-bottom-code-evaluation.git
[submodule "software-dev-course-explicit-and-implicit-conversion-in-javascript"]
	path = software-dev-course-explicit-and-implicit-conversion-in-javascript
	url = https://github.com/Marcandy/software-dev-course-explicit-and-implicit-conversion-in-javascript.git
[submodule "practice-readline-sync-Marcandy-nj"]
	path = practice-readline-sync-Marcandy-nj
	url = https://github.com/Marcandy/practice-readline-sync-Marcandy-nj.git
[submodule "practice-character-checker-marcandy-nj"]
	path = practice-character-checker-marcandy-nj
	url = https://github.com/Marcandy/practice-character-checker-marcandy-nj.git
[submodule "software-dev-course-the-string-dot-length-property"]
	path = software-dev-course-the-string-dot-length-property
	url = https://github.com/Marcandy/software-dev-course-the-string-dot-length-property.git
[submodule "software-dev-course-common-string-methods"]
	path = software-dev-course-common-string-methods
	url = https://github.com/Marcandy/software-dev-course-common-string-methods.git
